<div id="cartoes" class="mb-5">
    <div class="cartoes-container">
        <div class="background"></div>
        <div class="overlay"></div>
        <div class="cartoes-contain">
            <h2>ACEITAMOS</h2>
            <div class="cartoes-icon">
                <a href=""><img src="../../../../assets/lading_page/cartoes/mastercard.png" alt="icone-mastercard" width="120" height="68"></a>
                <a href=""><img src="../../../../assets/lading_page/cartoes/elo.png" alt="icone-elo" width="120" height="120"></a>
                <a href=""><img src="../../../../assets/lading_page/cartoes/visa.png" alt="icone-visa" width="165" height="50"></a>
                <a href="" ><img src="../../../../assets/lading_page/cartoes/pix_b.png" alt="icone-pix" width="120" height="50"></a>
            </div>
        </div>
    </div>
</div>
