$background: #F4F1ED;
$background-secondary: #8B5B29; //(dicionar opacidade de 40%)
$principal: #7A4E20;
$botao-salvar: #588C6B;
$botao-limpar: #58898C;
$white: #ffff;
$titulo: #8B5B29;
$sub-titulo: #FFE8A1