@import "../funcoes";
@import "../variaveis";

$imagem: '../../../../assets/lading_page/backgrond_pao.jpg';


.content-hero{
    @include flexContent(center, center, column);
    position: relative;

    .hero-barckground{
        @include backgroundImage($imagem);
        width: 100%;
        height: 65vh;
        filter: blur(1px);
    }
    .overlay{
        @include overlay();
    }
    .titulo{
        color: $white;
        position: absolute;
        z-index: 2;
        h1{
            font-size: 5rem;
            font-weight: 600;
        }
        p{
            font-weight: 600;
            font-size: 1.3rem;
            line-height: 0;
            margin-left: 6px;
        }
    }
}

